---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Button } from "../components/ui/button";
import GithubIcon from "../components/icons/GithubIcon";
import {Separator} from "../components/ui/separator";
import Navbar from "@/components/Navbar";
import Main from "@/components/Main";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col h-screen bg-blue-950">
		<Navbar />
		<Main />
	</main>
</Layout>
