---
import { GitHubLogoIcon, LinkedInLogoIcon, EnvelopeClosedIcon } from "@radix-ui/react-icons";
import XIcon  from "./icons/XIcon.jsx";
---

<div class="flex gap-4 w-fit items-center justify-around rounded-full border border-zinc-800 bg-zinc-950 p-3">
    <a href="https://github.com/aabassiouni"  class="flex items-center justify-center">
        <GitHubLogoIcon className="w-6 h-6 text-white" />
    </a>
    <a href="https://www.linkedin.com/in/ali-bassiouni/" class="flex items-center justify-center">
        <LinkedInLogoIcon className="w-6 h-6 text-white" />
    </a>
    <a href="https://twitter.com/AliBassiouni" class="flex items-center justify-center">
        <XIcon />
    </a>
    <a href="mailto:aabassiouni@gmail.com" class="flex items-center justify-center">
        <EnvelopeClosedIcon className="w-6 h-6 text-white" />
    </a>

</div>