---
import AvailableWidget from "./AvailableWidget.astro";
import ContactLinks from "./ContactLinks.astro";
---

<div class="flex flex-col gap-5  w-full pb-10 bg-zinc-900">

	<div class="text-lg font-source text-zinc-50">
		Hi! I'm Ali, a software engineer focused on building useful, well designed products with users and the
		user experience in mind. I'm a goal oriented, mission driven developer who loves to learn and build.
		Occasionally, I do some street photography.
	</div>
	<div class="flex items-center  gap-3">

		<AvailableWidget />
		<ContactLinks />
	</div>
</div>
