---
import React from "react";
import { ExternalLinkIcon } from "@radix-ui/react-icons";
---

<div class="flex items-center justify-between bg-zinc-900 py-10">
	<h1 class="font-serif text-2xl text-white sm:text-3xl">Ali Bassiouni</h1>

	<div class="relative space-x-9 rounded-full border-zinc-400 px-10 py-2 font-serif text-xl text-zinc-50 sm:flex">
		<!-- <p>Projects</p> -->
		<!-- <p>Github</p> -->
		<a href="./Ali-Bassiouni-Resume.pdf" target="_blank" class="sm:mr-10 inline-flex underline un items-center justify-center">
			<span> Resume</span>
			<ExternalLinkIcon className="ml-2 w-4 h-4" />
    </a>
		<!-- <p>Contact</p> -->
		<!-- <div class="absolute inset-y-0 right-0 flex space-x-9 rounded-full border border-zinc-400 bg-[#00181f]/0 px-10 py-2 font-serif  text-zinc-50  backdrop-blur-lg">
          <p>Projects</p>
          <p>Github</p>
          <p class="inline-flex items-center justify-center">
            Resume
          </p>
          <p>Contact</p>
        </div> -->
	</div>
</div>
