---
import { ExternalLinkIcon, GitHubLogoIcon } from "@radix-ui/react-icons";
import ProjectCard from "./ProjectCard.astro";
---

<div>
	<h1 class="text-white text-center w-full font-serif text-3xl pb-5">Projects</h1>
	<div class="space-y-4">
		<ProjectCard project="sideprojectai">
			<p
				slot="title"
				transition:name={`sideprojectai-title`}
				class="text-white text-2xl font-serif font-semibold leading-none tracking-tight"
			>
				SideprojectAI
			</p>
			<p slot="description">
				SideprojectAI is a platform that lets you easily generate resume sections for any GitHub repository
				using AI. Try it out now at {""}
				<a
					target="_blank"
					href="https://usesideprojectai.com/"
					class="inline-flex items-center underline underline-offset-4 gap-1"
					href=""
				>
					usesideprojectai.com! <ExternalLinkIcon />
				</a>
			</p>
			<p slot="technologies">
				Technologies used: Next.js, React.js, Typescript, TailwindCSS, Langchain, MySQL, Node.js, Serverless
				Functions.{" "}
			</p>
			<a
				slot="links"
				target="_blank"
				class="font-source inline-flex items-center gap-1"
				href="https://usesideprojectai.com/"
			>
				<p>Visit Website</p>
				<ExternalLinkIcon />
			</a>
		</ProjectCard>
		<ProjectCard project="framebound">
			<p
				slot="title"
				transition:name={`framebound-title`}
				class="text-white text-2xl font-serif font-semibold leading-none tracking-tight"
			>
				Framebound
			</p>
			<p slot="description">
				Framebound is a fully custom fullstack ecommerce website built to sell prints of my street photography.
			</p>
			<p slot="technologies">
				Technologies used: Next.js, React.js, TailwindCSS, PostgreSQL, Node.js, Serverless Functions, Stripe.
			</p>
			<Fragment slot="links">
				<a
					target="_blank"
					class="inline-flex items-center gap-1"
					href="https://github.com/aabassiouni/framebound"
				>
					<p>View on GitHub</p>
					<GitHubLogoIcon />
				</a>
				<a target="_blank" class="inline-flex items-center gap-1" href="https://framebound.vercel.app/">
					<p>Visit website</p>
					<ExternalLinkIcon />
				</a>
			</Fragment>
		</ProjectCard>
		<ProjectCard project="extension">
			<p
				slot="title"
				transition:name={`extension-title`}
				class="text-white text-2xl font-serif font-semibold leading-none tracking-tight"
			>
				Next.js App Router Component Helper
			</p>
			<div slot="description" class="sm:basis-1/2 space-y-5">
				<p>
					Next.js App Router Component Helper is a VSCode extension designed to help Next.js developers easily
					recognize whether a component runs on the server or the client. The extension is open source and has
					been downloaded over 150 times.
				</p>
				<p>Technologies used: Next.js, Typescript, Babel, VSCode API .</p>
			</div>
			<Fragment slot="links">
				<a
					target="_blank"
					class="inline-flex items-center gap-1"
					href="https://github.com/aabassiouni/next-js-app-router-helper"
				>
					<p>View on GitHub</p>
					<GitHubLogoIcon />
				</a>
				<a
					target="_blank"
					class="inline-flex items-center gap-1"
					href="https://marketplace.visualstudio.com/items?itemName=aabassiouni.next-js-app-router-helper"
				>
					<p>View on VSCode Marketplace</p>
					<ExternalLinkIcon />
				</a>
			</Fragment>
		</ProjectCard>
		<ProjectCard project="listenin">
			<p
				slot="title"
				transition:name={`listenin-title`}
				class="text-white text-2xl font-serif font-semibold leading-none tracking-tight"
			>
				Listenin
			</p>
			<div slot="description" class="sm:basis-1/2 space-y-5">
				<p>
					Listenin is a music-based social chat platform that lets you share your favorite music with your
					friends on Spotify.
				</p>
				<p>
					Technologies used: React.js, TailwindCSS, MongoDB Atlas, Node.js, Express.js, Spotify API, Firebase.
				</p>
			</div>
			<Fragment slot="links">
				<a
					target="_blank"
					class="inline-flex items-center gap-1"
					href="https://github.com/aabassiouni/listenin"
				>
					<p>View on GitHub</p>
					<GitHubLogoIcon />
				</a>
				<a target="_blank" class="inline-flex items-center gap-1" href="https://listenin.vercel.app/">
					<p>Visit website</p>
					<ExternalLinkIcon />
				</a>
			</Fragment>
		</ProjectCard>
	</div>
</div>
