---
export interface Props {
	title: string;
}
import "@/styles/globals.css";

import "@fontsource/source-sans-pro/200-italic.css";
import "@fontsource/source-sans-pro/300-italic.css";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/600-italic.css";
import "@fontsource/source-sans-pro/700-italic.css";
import "@fontsource/source-sans-pro/900-italic.css";

import "@fontsource/eb-garamond/400.css";
import "@fontsource/eb-garamond/500.css";
import "@fontsource/eb-garamond/600.css";
import "@fontsource/eb-garamond/700.css";
import "@fontsource/eb-garamond/800.css";
import CommonHead from "../components/CommonHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<CommonHead />
	</head>
	<body class="bg-zinc-900">
		<slot />
	</body>
</html>
